.forgot-email-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  background: #E3E8F0;
  flex-direction: column;
}

.forgot-email-container{
  width: 30%;
  height: 38vh;
  border-radius: 1rem;
  padding: 2rem; 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forgot-email-header {
  display: flex;
  flex-direction: column;
}

.forgot-email-header h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #030637;
}

.forgot-email-header p{
  margin-bottom: 1rem;
}

.forgot-email-form{
  display: flex;
  flex-direction: column;
  /* min-height: rem; */
}

.forgot-email-form label{
  display: block;
  margin-bottom: 0.5rem; 
  color: #534E4F;
  /* font-weight: bold; */
  font-size: 1rem;
}

.forgot-email-form input{
  border: 1px solid #A4B8E3;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.7rem;
  outline: none;
  background: white;
}

.forgot-email-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-email-button button{
  width: 50%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background-color: #910A67;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
  opacity: 0.8;
}

.forgot-email-button button:disabled{
  opacity: 0.5;
}

.forgot-email-footer{
  text-align: center;
}

.forgot-email-footer-link{
  text-decoration: none
}

.forgot-email-footer-link:hover{
  text-decoration: underline;
}





